nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: white;
  border-bottom: 1px solid #ccc;
}

.nav-links-dashboard {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-links-dashboard a {
  text-decoration: none;
  color: rgb(129, 129, 129);
  font-weight: bold;
}

.nav-links-dashboard .active-link {
  font-weight: bold;
  color: blue; /* Change text color */
  border-bottom: 2px solid blue; /* Change border color */
}
