nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  border-bottom: 1px solid #ccc;
}

.nav-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-links .active-link {
  font-weight: bold;
  color: blue;
  border-bottom: 2px solid blue;
}
